/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

h1,h2,h3,h4,h5,p,ol,ul,li{
    text-align: center;
}

h1{
    font-family: 'Rock Salt', cursive;
    font-size: 3em; 
    line-height: 2em;
}
h2{
    font-family: 'Shadows Into Light', cursive;
    font-size: 2.5em;
}
h3{
    font-family: 'Coming Soon', cursive;
    font-size: 2em;
}
p{
    font-family: 'Advent Pro', sans-serif;
    font-size: 1.8em;
}
ol, ul{
  list-style: url("../img/pinpoint.png");
}
li{
    font-family: 'Coming Soon', cursive;
    font-size: 2em;
}

.bulletImg{
    height: 10%;
    width: 10%;
}

.cardinal{
    color: #F00000;
    list-style: url("../img/triangle_list.png");
}
.fixed{
    color: #800080;
    list-style: url("../img/square_list.png");
}
.mutable{
    color: #FFF; 
    text-shadow: 1px 1px 3px #dbad3e, -1px 1px 3px #dbad3e, 1px -1px 3px #dbad3e, -1px -1px 3px #dbad3e;
    list-style: url("../img/spiral_list.png");
}

.present .first{transition-delay: 3.5s;}
.present .second{transition-delay: 4.5s;}
.present .third{transition-delay: 5.5s;}
.present .fourth{transition-delay: 6.5s;}


.world2{
    transition: .75s opacity;
    opacity: 0; }
.present .world2{
    transition-delay: .75s;
    position: absolute;
    opacity: 0.1;
    height: 100%; 
    width: 100%;
    z-index: -9;
}
#world2{    
    position: absolute;
    height: 1000px;
    width: 1000px;
    top: -400px;
    left: -53px;
}





.affiliates{
    transition: 2s color, 2s text-shadow, 2s font-size;
}
.beneficiaries{
    transition: 2s color, 2s text-shadow, 2s font-size;
}
.community{
    transition: 2s color, 2s text-shadow, 2s font-size;
}
.donor{
    transition: 2s color, 2s text-shadow, 2s font-size;
}

.present .affiliates{
    color: #FF0000;
    text-shadow: 1px 1px 3px #FFF, -1px 1px 3px #FFF, 1px -1px 3px #FFF, -1px -1px 3px #FFF;
}
.present .beneficiaries{
    color: #FFFF00;
    text-shadow: 1px 1px 1px #000, -1px 1px 1px #000, 1px -1px 1px #000, -1px -1px 1px #000;
}
.present .community{
    color: #00FF00;
    text-shadow: 1px 1px 3px #FFF, -1px 1px 3px #FFF, 1px -1px 3px #FFF, -1px -1px 3px #FFF;
}
.present .donor{
    color: #0000FF;
    text-shadow: 1px 1px 3px #FFF, -1px 1px 3px #FFF, 1px -1px 3px #FFF, -1px -1px 3px #FFF;
}

.A{transition: 3s font-size, 3s text-decoration;}
.B{transition: 3s font-size, 3s text-decoration;}
.C{transition: 3s font-size, 3s text-decoration;}
.D{transition: 3s font-size, 3s text-decoration;}
.present .A{transition-delay: 3.5s; font-size: 2em; text-decoration: underline;}
.present .B{transition-delay: 4.5s; font-size: 2em; text-decoration: underline;}
.present .C{transition-delay: 5.5s; font-size: 2em; text-decoration: underline;}
.present .D{transition-delay: 6.5s; font-size: 2em; text-decoration: underline;}

.Aadd{opacity: 0; transition: 3s opacity;}
.Badd{opacity: 0; transition: 3s opacity;}
.Cadd{opacity: 0; transition: 3s opacity;}
.Dadd{opacity: 0; transition: 3s opacity;}
.present .Aadd{transition-delay: 3.5s; opacity: 1;}
.present .Badd{transition-delay: 4.5s; opacity: 1;}
.present .Cadd{transition-delay: 5.5s; opacity: 1;}
.present .Dadd{transition-delay: 6.5s; opacity: 1;}


table{
    height: 100%; width: 100%;
}






/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}